{% extends 'base.html' %}

{% block content %}
<div class='container bg-main'>
    <h3 class='margin'>Tai Cai</h3>
    <hr>
    <div class='row'>
        <div class='col-sm-7'>
            <p>
                I am a Senior Data Scientist on the Data & Research team at <a href='https://www.bitsight.com/engineering-data-science-careers' target='_blank'>BitSight</a> in Boston, Massachusetts. Prior to that, I was an <a href='https://www.insightdatascience.com' target='_blank'>Insight Data Science</a> Fellow, while concurrently finishing my PhD in Biostatistics at <a href='https://gsas.harvard.edu/programs-of-study/all/biostatistics' target='_blank'>Harvard University</a>. I have a Bachelor of Mathematics from the <a href='https://uwaterloo.ca/math' target='_blank'>University of Waterloo</a>.
                <br><br>
                This site contains various projects I enjoy working on during my spare time. Some of these are applied problems motivated by interesting data, while others are driven by curiosity about a particular concept.
                <br><br>
                My areas of interest are dynamic. Currently, I am learning more about artificial neural networks, causal inference, and Bayesian nonparametrics.
                <br><br>
                Thanks for visiting! Send me an email if you would like to talk.
                <br><br>
            </p>
        </div>
        <div class='col-sm-5 text-center'>
            <img src='{{url_for('static',filename='images/cake.jpg')}}' class='img-responsive img-circle margin' style='display:inline; margin-top: 0; margin-bottom: 10px; width: 100%; height: auto; min-width: 200px; max-width: 325px'>
            <p style='font-size: 12px'>cutting cake after my PhD defense</p>
        </div>
    </div>
</div>
<div class='container bg-main'>
    <h3 class='margin'>Latests Posts</h3>
    <hr>
    <ul>
        <li>
            <a href='stirlings-pogs' target='_blank'>Stirling's Pogs</a>
            <br>
            <p>
                1990s Spawn Pogs, the Multinimial Distribution, and Stirling Numbers of the Second Kind.
            </p>
        </li>
        <li>
            <a href='basketball-reference-hall-of-fame-probabilities' target='blank'>Basketball-Reference Hall of Fame Probabilities</a>
            <br>
            <p>
                A deep dive into how Basketball-Reference calculates its Hall of Fame probabilities.
            </p>
        </li>
    </ul>
</div>
<br>
<br>
<div class='container bg-main'>
    <hr>
    <div class='row text-center'>
        <div class='col-sm-3'>
            <ul class='list-inline text-center'>
                <li class='list-inline-item'>
                    <a href='https://github.com/caikitlearn/resume/blob/master/tc_resume.pdf' target='_blank'>
                        <span class='fa-stack fa-lg'>
                            <i class='fa fa-circle fa-stack-2x'></i>
                            <i class='fa fa-list-alt fa-stack-1x'></i>
                        </span>
                    </a>
                </li>
            </ul>
            <p>
                Resume
            </p>
        </div>
        <div class='col-sm-3'>
            <ul class='list-inline text-center'>
                <li class='list-inline-item'>
                    <a href='mailto: &#116;&#99;&#97;&#105;&#64;&#109;&#97;&#105;&#108;&#46;&#104;&#97;&#114;&#118;&#97;&#114;&#100;&#46;&#101;&#100;&#117;'>
                        <span class='fa-stack fa-lg'>
                            <i class='fa fa-circle fa-stack-2x'></i>
                            <i class='fa fa-envelope fa-stack-1x fa-inverse'></i>
                        </span>
                    </a>
                </li>
            </ul>
            <p>
                Email
            </p>
        </div>
        <div class='col-sm-3'>
            <ul class='list-inline text-center'>
                <li class='list-inline-item'>
                    <a href='https://www.linkedin.com/in/taicai/' target='_blank'>
                        <span class='fa-stack fa-lg'>
                            <i class='fa fa-circle fa-stack-2x'></i>
                            <i class='fa fa-linkedin fa-stack-1x fa-inverse'></i>
                        </span>
                    </a>
                </li>
            </ul>
            <p>
                LinkedIn
            </p>
        </div>
        <div class='col-sm-3'>
            <ul class='list-inline text-center'>
                <li class='list-inline-item'>
                    <a href='https://github.com/caikitlearn' target='_blank'>
                        <span class='fa-stack fa-lg'>
                            <i class='fa fa-circle fa-stack-2x'></i>
                            <i class='fa fa-github fa-stack-1x fa-inverse'></i>
                        </span>
                    </a>
                </li>
            </ul>
            <p>
                GitHub
            </p>
        </div>
    </div>
</div>
<br>
<div class='container bg-main text-center'>
    <p style='font-size: 12px'>
        <i>
        The contents of this page are hosted on Amazon EC2 with Flask, nginx, and Gunicorn.
        </i>
    </p>
</div>
{% endblock %}
