{% extends 'base.html' %}

{% block content %}
<div class='container bg-main'>
    <h3 class='margin'>Tai Cai</h3>
    <hr>
    <div class='row'>
        <div class='col-sm-8'>
            <p>
                <!-- <img style="float: right; margin: 0px 0px 15px 15px; display:inline;" src="https://i.imgur.com/Yq4ugtq.jpg" width="300px" class='img-responsive img-circle margin'> -->
                I am a Data Scientist at <a href='https://www.bitsighttech.com/engineering-data-science-careers' target='_blank'>BitSight Technologies</a> in Cambridge, Massachusetts. Prior to that, I was an <a href='https://www.insightdatascience.com' target='_blank'>Insight Data Science</a> Fellow, while concurrently finishing my PhD in Biostatistics at <a href='https://gsas.harvard.edu/programs-of-study/all/biostatistics' target='_blank'>Harvard University</a>. I have a Bachelor of Mathematics from the <a href='https://uwaterloo.ca/math' target='_blank'>University of Waterloo</a>.
                <br><br>
                This site contains various projects I enjoy working on during my spare time. Some of these are applied problems motivated by interesting data, while others are driven by curiosity about a particular concept.
                <br><br>
                My areas of interest are dynamic. Currently, I enjoy reading about statistical properties of random forests, prediction intervals, and Python 3 tips. I love classical era romantic music, particularly Chopin and Liszt.
                <br><br>
                Thanks for visiting! Send me an email if you would like to talk.
                <br><br>
            </p>
        </div>
        <div class='col-sm-4 text-center'>
            <img src='{{url_for('static',filename='images/cake.jpg')}}' class='img-responsive img-circle margin' style='display:inline; margin-top: 0; width: 75%; height: auto; min-width: 200px; max-width: 300px;'>
            <p style='font-size: 12px'>cutting cake after my PhD defense <br> August 29, 2017</p>
        </div>
    </div>
</div>
<br>
<div class='container bg-main'>
    <hr>
    <div class='row text-center'>
        <div class='col-sm-3'>
            <ul class='list-inline text-center'>
                <li class='list-inline-item'>
                    <a href='https://github.com/padtai/resume/blob/master/tai_resume.pdf' target='_blank'>
                        <span class='fa-stack fa-lg'>
                            <i class='fa fa-circle fa-stack-2x'></i>
                            <i class='fa fa-list-alt fa-stack-1x'></i>
                        </span>
                    </a>
                </li>
            </ul>
            <p>
                Resume
            </p>
        </div>
        <div class='col-sm-3'>
            <ul class='list-inline text-center'>
                <li class='list-inline-item'>
                    <a href='mailto: &#116;&#097;&#105;&#064;&#109;&#097;&#105;&#108;&#046;&#104;&#097;&#114;&#118;&#097;&#114;&#100;&#046;&#101;&#100;&#117;'>
                        <span class='fa-stack fa-lg'>
                            <i class='fa fa-circle fa-stack-2x'></i>
                            <i class='fa fa-envelope fa-stack-1x fa-inverse'></i>
                        </span>
                    </a>
                </li>
            </ul>
            <p>
                Email
            </p>
        </div>
        <div class='col-sm-3'>
            <ul class='list-inline text-center'>
                <li class='list-inline-item'>
                    <a href='https://www.linkedin.com/in/taicai/' target='_blank'>
                        <span class='fa-stack fa-lg'>
                            <i class='fa fa-circle fa-stack-2x'></i>
                            <i class='fa fa-linkedin fa-stack-1x fa-inverse'></i>
                        </span>
                    </a>
                </li>
            </ul>
            <p>
                LinkedIn
            </p>
        </div>
        <div class='col-sm-3'>
            <ul class='list-inline text-center'>
                <li class='list-inline-item'>
                    <a href='https://github.com/padtai' target='_blank'>
                        <span class='fa-stack fa-lg'>
                            <i class='fa fa-circle fa-stack-2x'></i>
                            <i class='fa fa-github fa-stack-1x fa-inverse'></i>
                        </span>
                    </a>
                </li>
            </ul>
            <p>
                GitHub
            </p>
        </div>
    </div>
</div>
<br>
<div class='container bg-main text-center'>
    <p style='font-size: 12px'>
        <i>
        The contents of this page are hosted on Amazon EC2 with Flask, nginx, and Gunicorn. Extra care was taken to establish an HTTPS connection.
        </i>
    </p>
</div>
{% endblock %}
