{% extends 'base.html' %}

{% block content %}
    <div class='container bg-main'>
      <!--==================================================-->
      <!--   STEPHEN A.I. SMITH                             -->
      <!--==================================================-->
      <h3 class='margin'>
          <a href='stephen-ai-smith'>Stephen A.I. Smith</a>
          <span class='date-right'>2019-11-15</span>
      </h3>
      <hr>
      <p>
          Language modeling using Stephen A. Smith's Twitter data.
      </p>
      <br>

        <!--==================================================-->
        <!--   STIRLING'S POGS                                -->
        <!--==================================================-->
        <h3 class='margin'>
            <a href='stirlings-pogs'>Stirling's Pogs</a>
            <span class='date-right'>2018-08-19</span>
        </h3>
        <hr>
        <p>
            1990s Spawn pogs, the multinimial distribution, and Stirling numbers of the second kind.
        </p>
        <br>

        <!--==================================================-->
        <!--   BASKETBALL-REFERENCE HOF PROBABILITIES         -->
        <!--==================================================-->
        <h3 class='margin'>
            <a href='basketball-reference-hall-of-fame-probabilities'>Basketball-Reference Hall of Fame Probabilities</a>
            <span class='date-right'>2018-08-12</span>
        </h3>
        <hr>
        <p>
            A deep dive into how Basketball-Reference calculates its Hall of Fame probabilities.
        </p>
    </div>
{% endblock %}
