{% extends 'base.html' %}

{% block content %}
    <div class='container bg-main'>
        <!--==================================================-->
        <!--   STIRLING'S POGS                                -->
        <!--==================================================-->
        <h3 class='margin'>
            <a href='stirlings-pogs'>Stirling's Pogs</a>
            <span class='date-right'>2018-08-19</span>
        </h3>
        <hr>
        <p>
            1990s Spawn Pogs, the Multinimial Distribution, and Stirling Numbers of the Second Kind.
        </p>
        <br>

        <!--==================================================-->
        <!--   BASKETBALL-REFERENCE HOF PROBABILITIES         -->
        <!--==================================================-->
        <h3 class='margin'>
            <a href='basketball-reference-hall-of-fame-probabilities'>Basketball-Reference Hall of Fame Probabilities</a>
            <span class='date-right'>2018-08-12</span>
        </h3>
        <hr>
        <p>
            A deep dive into how Basketball-Reference calculates its Hall of Fame probabilities.
        </p>
    </div>
{% endblock %}
