{% extends 'base.html' %}

{% block content %}

<div class="container bg-main">
    <!--==================================================-->
    <!--   PHD THESIS                                     -->
    <!--==================================================-->
    <h3 class='margin'><a href='{{url_for('static',filename='files/tai_thesis.pdf')}}'>PhD Thesis</a></h3>
    <hr>
    <p>
        My PhD thesis, as submitted to the Graduate School of Arts and Sciences at Harvard University.
    </p>
    <p style='font-size: 12px; margin: 0; padding: 0;'>
        <i>Last edited September 2017</i>
    </p>
    <br>

    <!--==================================================-->
    <!--   LABS FROM BIO 249                              -->
    <!--==================================================-->
    <h3 class='margin'><a href='{{url_for('static',filename='files/bio249labs.pdf')}}'>Labs from BIO 249: Bayesian Methodology in Biostatistics</a></h3>
    <hr>
    <p>
        Topics include: probability theory, Bayesian computation, Dirichlet processes, Pólya trees, decision theory, sequential analysis, and survival analysis.
    </p>
    <p style='font-size: 12px; margin: 0; padding: 0;'>
        <i>Last edited December 2016</i>
    </p>
    <br>

    <!--==================================================-->
    <!--   DISNEY MEDLEY ARRANGEMENT                      -->
    <!--==================================================-->
    <h3 class='margin'><a href='{{url_for('static',filename='files/fullscore.pdf')}}' target='_blank'>Disney Medley Arrangement</a></h3>
    <hr>
    <p>
        Piano accompaniment for a Disney medley, arranged for <a href='https://americanrepertorytheater.org/events/show/i-night-harvard-t-h-chan-school-public-health'>Harvard I-Night 2016</a>. I served on the organizing committee in 2015 and 2016, and performed in 2014, 2015, and 2016.
    </p>
    <p style='font-size: 12px; margin: 0; padding: 0;'>
        <i>Last edited March 2016</i>
    </p>
    <div style='margin: 0 auto; display: table'>
        <audio controls>
            <source src='{{url_for('static',filename='files/disneymedley.mp3')}}' type="audio/mpeg"></source>
            Your browser does not support the audio element.
        </audio>
    </div>
</div>

{% endblock %}
